# Ignore test and coverage outputs
playwright-report/
test-results/
.env
.DS_Store

# Ignore Python build artifacts
__pycache__/
*.py[cod]
*.sqlite3
*.db
*.log
*.pid
*.bak

# Ignore virtual environments
venv/
.env/
.envrc
